@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&display=swap");

body {
  font-family: Montserrat;
}

.beer-background-header {
  height: 20vh;
  background-image: url("https://images.fineartamerica.com/images-medium-large-5/beer-pint-glass-hand-tap-retro-aloysius-patrimonio.jpg");
  background-size: 8%;
  background-repeat: no-repeat;
  background-position-x: 24vw;
}

header h1 {
  font-family: Merriweather;
  font-size: 500% !important;
  color: rgb(255, 172, 46) !important;
  letter-spacing: 0.5rem;
  text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
