@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Courier+Prime&display=swap");

body {
  font-family: "Courier Prime";
  background-image: url("https://www.jing.fm/clipimg/detail/185-1853855_water-bubbles-transparent-png-transparent-background-bubbles-png.png");
  background-position-x: 11vw;
  background-position-y: 14vh;
}
label {
  padding-top: 10px;
}
.container {
  background-color: rgba(246, 171, 49, 0.75);
  border-radius: 4px;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.4);
}
.header {
  font-family: Raleway;
}
.beer-background-header {
  height: 20vh;
  background-image: url("./images/beer-logo.png");
  background-size: 8%;
  background-repeat: no-repeat;
  background-position-x: 24vw;
}

header h1 {
  margin-bottom: 0;
  font-family: Raleway;
  font-size: 500% !important;
  color: rgb(255, 172, 46) !important;
  letter-spacing: 0.5rem;
  text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.link-style {
  font-size: 1.5em;
  margin-right: 50px;
  color: #815533;
}

.link-style:hover {
  text-decoration: none;
  color: rgb(255, 172, 46);
}
.link-style a:hover {
  background-size: 10%;
}

.card,
.main-info {
  background-color: rgb(255, 172, 46) !important;
}
.image-show {
  position: relative;
}
.image-text {
  position: absolute;
  top: 50%;
  left: 17.5%;
}
@media (max-width: 750px) {
  .beerContainer {
    display: flex;
  }
}
